:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
  width: 1600px;
}

/* main styles */
.list-item {
  list-style: none;
}
.contact-link,
.link {
  text-decoration: none;
}
h2 {
  color: var(--main-text-color);
}

/* header */
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-first-word {
  color: #2196f3;
}
.logo-second-word {
  color: #000000;
}
.link {
  color: #212121;
}
.header-link {color: var(--secondary-text-color);}


/* Section hero */
h1 {
  color: #ffffff;
  text-align: center;
}
.btn {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero {
  background-color: #2f303a;
}

/* Список преимуществ */
.features-title {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* наша команда */
.workers-name {
  color: var (--main-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.worker-position {
  color: var(--secondary-text-color);
}
 
/* footer */
.footer {background-color: #2F303A;}
.logo-third-word {color: #FFFFFF;}
.adress {color: #FFFFFF; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);} 
.footer-link {color: rgba(255, 255, 255, 0.6);}