:root body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
  width: 1600;
}

/* main styles */
.list-item {
  list-style: none;
}
.contact-link .link {
  text-decoration: none;
}
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* header */
.logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-first-word {
  color: #2196f3;
}
.logo-second-word {
  color: #000000;
}

/* Section hero */
h1 {
  color: #ffffff;
  text-align: center;
}
.btn {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero {
  background-color: #2f303a;
}

/* Список преимуществ */
.features-title {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}


/* наша команда */
.workers-name {font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;}